{{/*
    * Makefileと.zprofileで重複する環境変数を定義する
    ! <制約>
        - KEY=VALUE型式で記述すること
*/}}
{{- $HOME_DIR := .chezmoi.homeDir -}}
{{- $LOCAL_SHARE_DIR := printf "%s/.local/share" $HOME_DIR -}}
BREW_PATH=/opt/homebrew/bin/brew
{{/* Python */}}
{{/* pyenvのインストール先 */}}
PYENV_ROOT={{ $LOCAL_SHARE_DIR }}/pyenv
{{/*
    ℹ️: brew install のため bin の指定不要
    PYENV_PATH={{ $LOCAL_SHARE_DIR }}/pyenv/bin
*/}}
PYTHON_VERSION=3.12.2
